<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <h2>{{screamIt welcomeMsg}}</h2>

    {{> footer}}
  </body>
</html>
